* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.2px;
    color: #ffffff;
}

.button {
    display: inline-block;
    cursor: pointer;
    height: 60px;
    padding-top: 3px;
    padding-left: 46px;
    padding-right: 46px;

    line-height: 52px;
    text-align: center;
    border: white solid 2px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: none;
}

/*HEADER*/
.header {
    height: 151px;
    background-color: #181818;
}

.header-container {
    max-width: 1137px;
    height: 119px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu-mini {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 705px;
}

nav a {
    margin-right: 41px;
}


/* MAIN/HERO */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #181818;
} 

.hero {
    padding-top: 60px;
    padding-bottom: 125px;
}

h1 {
    margin: 0;
    margin-bottom: 27px;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: 0.2px;
    color: #ffffff;
}

h1~p {
    margin: 0;
    margin-bottom: 85px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 35px;
}

.button-primary {
    background-color: #4452FE;
    border: none;
}

.hero-banner {
    height: 993px;
    background-image: url(../img/screens.png);
    background-position: center;
    background-repeat: no-repeat;
}


/* FEATURES */
.features {
    padding: 162px 25px;
    background-color: #181818;
}

h2 {
    margin: 0;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px; 
    letter-spacing: 0.2px;
    color: #ffffff;
}

h2~p {
    margin-top: 27px;
    margin-bottom: 80px;
}

.features-container-content {
    max-width: 1137px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.freatures-banner {
    position: relative;
    height: 760px;
}

.freatures-banner:first-child {
    width: 696px;
}

.freatures-banner > *+* {
    position: absolute;
    top: 65%;
    left: 50%;
}

.title h3 {
    text-indent: 10px;
}

.title img{
    transform: translateY(-8px);
}

h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.features-content {
    text-align: left;
    max-width: 269px;
}

.features-content > *+* {
    margin-top: 65px;
}

.title {
    display: inline-flex;
}


/* CONTENTS */
.contents {
    padding: 150px 25px;
}

.contents p {
    margin-bottom: 54px;
}

.container-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1087px;
    margin: 0 auto;
}


/* GALLERY */
.gallery {
    padding: 50px 25px;
}

.container-gallery {
    margin: 0 auto;
    max-width: 1087px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-top {
    display: flex;
    max-width: 1000px;
}

.gallery-top > *+* {
    margin-left: 30px;
}

.gallery-top > img {
    margin-bottom: 44px;
}

.gallery-bottom {
    display: flex;
    max-width: 1087px;
}

.gallery-bottom > *+* {
    margin-left: 30px;
}

.gallery-bottom > img {
    margin-bottom: 44px;
}


/* PARTNERS */
.partners {
    padding: 150px 25px;
}

.partners p {
    margin-bottom: 55px;
}

.container-partners {
    max-width: 832px;
    margin: 0 auto;
}

.partners-icons-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partners-icons-row li {
    margin-bottom: 50px;
}


/* TESTIMONIAL */
.testimonial {
    padding-top: 50px 25px 150px 25px;
}

.testimonial h2 {
    margin-bottom: 50px;
}

.testimonial-container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.testimonial-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 23px;
}

.testimonial-list li {
    text-align: left;
    border: #ffffff solid 2px;
    border-radius: 13px;
    padding: 40px 70px 40px 40px;
}

.testimonial-title {
    display: flex;
    width: 200px;
    margin-bottom: 12px;
}

.testimonial-title h4{
    margin-left: 25px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}


/* FOOTER */
footer {
    padding-top: 200px;
    padding-bottom: 107px;
    background-color: #181818;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 25px;
    padding-left: 25px;
}

.footer-column h3 {
    margin-bottom: 40px;
}

.footer-list li{
    margin-bottom: 19px;
}

.footer-right {
    display: inline-flex;
    text-indent: 10px;
}

address {
    transform: translateY(10px);
    font-style: normal;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.footer-right a {
    transform: translateY(7px);
}

.social-list {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.footer-column:last-child {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width: 1200px) {
    .header-container {
        max-width: 950px;
    }

    .menu-mini {
        justify-content: end;
    }

    .features-container-content {
        flex-direction: column;
    }

    .freatures-banner {
        margin-bottom: 130px;
    }

    .freatures-banner > *+* {
        left: 25%;
    }

    h2~p {
        margin-top: 27px;
        margin-bottom: 50px;
    }

    .contents p {
        margin-bottom: 34px;
    }

    .gallery-bottom {
        display: none;
    }
    
    .gallery-top {
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        justify-content: center;
    }

    .gallery-top img:nth-child(2n+1) {
        margin-left: 0;
    }

    .footer-container {
        max-width: 900px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 77px;
    }

    nav {
        display: none;
    }

    .menu-mini {
        max-width: 222px;
    }

    .dropdown {
        right: -10px;
        position: relative;
        display: inline-block;
    }
    
    .dropbtn {
        border: none;
        cursor: pointer;
        }

    
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        min-width: 45px;
        text-align: end;
        overflow: auto; 
        box-shadow: opx 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
    }
        
    .show {
        display: block;
    }

    .hero p {
        max-width: 450px;
        margin: 0px auto 67px;
    }

    br {
        display: none;
    }

    .features p {
        max-width: 450px;
        margin: 27px auto 30px;
    }

    .freatures-banner {
        height: 410px;
    }

    .freatures-banner:first-child {
        width: 400px;
    }
    
    .freatures-banner > *+* {
        width: 290px;
        position: absolute;
        top: 70%;
        left: 15%;
    }

    .freatures-banner {
        margin-bottom: 150px;
    }

    .contents p {
        max-width: 450px;
        margin: 27px auto 35px;
    }

    .gallery p{
        max-width: 450px;
        margin: 27px auto 55px;
    }

    .partners {
        max-width: 450px;
        margin: 27px auto 55px;
    }
    
    .partners p{
        margin-bottom: 60px;
    }

    .container-partners {
        max-width: 289px;
    }

    .partners-icons-row li{
        margin-left: 50px;
    }

    .partners-icons-row li:first-child {
        margin-left: 0;
    }

    .partners-icons-row li:nth-child(4n) {
        margin-left: 0;
    }

    .testimonial-container {
        max-width: 463px;
    }

    .testimonial-list {
        grid-template-columns: repeat(1, 413px);
    }

    .footer-container {
        max-width: 500px;
    }

    .footer-column {
        margin-bottom: 75px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 23px;
    }
}

@media (max-width: 650px) {
    h1 {
        margin: 0 auto 25px;
        width: 270px;
        font-size: 50px;
        line-height: 62px;
    }

    p {
        font-size: 16px;
        line-height: 27px;
        max-width: 382px;
    }

    a {
        font-size: 15px;
    }

    h2 {
        font-size: 38px;
    }

    .hero-banner {
        height: 435px;
        background-size: cover;
    }

    .row {
        flex-direction: column;
        width: 178px;
        height: 145px;
    }

    .features-block p {
        width: 240px;
    }

    .freatures-banner {
        height: 320px;
    }

    .freatures-banner:first-child {
        width: 324px;
    }
    
    .freatures-banner > *+* {
        width: 232px;
        top: 75%;
        left: 15%;
    }

    .container-contents img{
        width: 348px;
    }

    .container-gallery {
        max-width: 329px;
    }

    .gallery-top img {
        margin-left: 0;
    }

    .testimonial-container {
        max-width: 350px;
    }
    
    .testimonial-list {
        grid-template-columns: repeat(1, 300px);
    }

    .testimonial-item p {
        width: 210px;
    }

    .footer-container {
        max-width: 300px;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 23px;
    }
}

@media (max-width: 480px) {
    p {
        max-width: 270px;
    }

    h1~p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .menu-mini {
        max-width: 140px;
    }

    .dropdown {
        top: 83px;
        left: 18px;
        position: absolute;
    }
    
    .dropbtn {
        transform: scale(-1, 1);
        }

    .dropdown-content {
        left: 0;
        text-align: start;
    }
    
    .dropdown-content a {
        display: inline;
        padding: 5px 10px;
    }
        
    .show {
        display: block;
    }

    .partners-icons-row {
        max-width: 270px;
        flex-direction: column;
    }

    .partners-icons-row li {
        margin-left: 0;
    }

    .testimonial-container {
        max-width: 320px;
    }

    .testimonial-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial-item {
        max-width: 270px;
    }
}